PORT=5000

MONGO_URI=mongodb://gouthamkc153_db_user:Test123456@ac-zzdpo3n-shard-00-00.kx4tqfm.mongodb.net:27017,ac-zzdpo3n-shard-00-01.kx4tqfm.mongodb.net:27017,ac-zzdpo3n-shard-00-02.kx4tqfm.mongodb.net:27017/oaq-system?ssl=true&replicaSet=atlas-1k3ma2-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=your_jwt_secret_here

CLIENT_ORIGIN=http://localhost:5173




